﻿body {
    background: #eeeef2;
}

.header-index {
    widows: 100%;
    height: 65vh;
    background-image: url(../../Imagen/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}



.sobre-header-index {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    position: relative;
}

.contendo-index {
    position: relative;
}

.radio {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: -33px;
    font-size: 25px;
    color: rgba(0,0,0,0.5);
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    background: #fff;
}

.titlo-contenedor {
    width: 100%;
    padding-top: 30PX;
    padding-bottom: 30px;
}

    .titlo-contenedor > h3 {
        font-size: 35px;
        text-align: center;
        color: rgba(0,0,0,0.6);
        font-weight: 400;
    }

.card-item {
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 26px -10px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 26px -10px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}


@media (min-width: 1600px) .container {
    max-width: 1410px !important;
}

.card-item > .img-items {
    height: 100%;
    background: #fff;
    width: 150px;
}

.card-item > .texto-items {
    width: 50%;
    padding-left: 20px;
}

.card-item > .img-items > img {
    width: 100%;
    height: 100%;
}

.titulo-item-card {
    font-weight: bold;
    font-size: 23px;
    color: rgba(0,0,0,0.7);
}

.centrar-texto {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.sobre-header-index {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 70px;
}

.descripcion-items-cad {
    width: 100%;
    text-align: justify;
}

.img-items {
    width: 100%;
}

.card-item {
    height: auto;
    padding-left: 0;
}

.footer-pg {
    width: 100%;
    height: 350px;
    background: #4a4949;
    position: relative;
}

    .footer-pg > div {
        width: 100%;
        height: 64px;
        background: rgba(0,0,0,0.2);
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10%;
        color: #fff;
    }

.footer-text {
    width: 100%;
    height: 286px !important;
    background: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.sobre-header-index {
    background: rgba(0,0,0,0.5);
}

.card-item {
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

footer-text > p {
    color: rgba(0,0,0,0.5) !important;
}

.header-items-me {
    width: 100%;
    height: 80vh;
    background-image: url(../../Imagen/fase2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.__comite {
    background-image: url('../../Imagen/fase1.jpg');
}

.sobre-header-items-me {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 15%;
    padding-bottom: 10%;
}

    .sobre-header-items-me > * {
        color: #fff;
        font-size: 7em;
        font-weight: 300;
    }

.contenedor-contenido-items-me {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .contenedor-contenido-items-me > p {
        width: 70%;
        font-size: 25px;
        text-align: center;
        color: rgba(0,0,0,0.5);
    }

.contendor-logo-items-me {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    right: 50px;
    background: #fff;
    border-radius: 100%;
    padding: 20px;
}

    .contendor-logo-items-me > img {
        width: 100%;
    }

.icono-volver {
    position: fixed;
    top: 10%;
    left: 10%;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

.__acompanamiento {
    background-image: url(../../Imagen/fase3.jpg);
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

body > .container {
    width: 100%;
}