﻿body {
    background-image: url('../../Imagen/backgroundLogin.jpg');
    background-repeat: inherit;
    margin-left: 100px;
}

.card .alt .toggle {
    background-color: #01A6BD;
}

.card .title {
    border-left: 5px solid #01A6BD;
    color: #01A6BD;
}

.toggle {
    margin-top: 170px;
    background-color: #01A6BD !important;
}

button {
    color: #01A6BD;
}

    button:hover {
        border-color: #01A6BD;
    }

    button:focus {
        background-color: #01A6BD !important;
    }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.card {
    padding-top: 100px;
    /*margin-top: 100px;*/
}

    .card:first-child {
        margin-top: 170px;
    }

label {
    max-height: 100%;
    z-index: 3;
}
.card .button-container .roundedOne label:after {
background: -webkit-linear-gradient(top, #01A6BD 0%, #01A6BD 100%);
background-image: -webkit-linear-gradient(top, #01A6BD 0%, #01A6BD 100%);
}