﻿@{
    ViewBag.Title = "Sceys";
}
<link href="~/Content/sceys/about.css" rel="stylesheet" />
<div class="header-index">
    <div class="sobre-header-index">
        <img src="~/Imagen/300x150.png" alt="">
    </div>
</div>
<div class="contendo-index">
    <div class="radio">
        <i class="glyphicon glyphicon-chevron-down down"></i>
    </div>
    <div style="background:#fff">
        <div class="container">
            <div class="row">
                <div class="centrar-texto">
                    <p>
                        El Sceys es un Software Desarrollado para nuestra institución SENA, utilizado por el Comité de Evaluación y Seguimiento que es el encargado de llevar un control de la vida académica del aprendiz en el desarrollo de su formación en la etapa lectiva y práctica.

                        Este nos permite gestionar y suministrar toda la información necesaria para generar un reporte de falta académica y/o disciplinaria en los Centros de formación según lineamientos institucionales.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="titlo-contenedor">
        <h3>MÓDULOS</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <a class="card-item" href="FaseFormativa">
                    <div class="col-md-5 col-xs-12 col-lg-5" style="padding-left:0">
                        <img src="~/Imagen/fase2.jpg" class="img-items" alt="">
                    </div>
                    <div class="col-md-7 col-xs-12 col-lg-7">
                        <div class="texto-items">
                            <span class="titulo-item-card">FASE FORMATIVA</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <a class="card-item" href="FaseComite">
                    <div class="col-md-5 col-xs-12 col-lg-5" style="padding-left:0">
                        <img src="~/Imagen/fase1.jpg" class="img-items" alt="">
                    </div>
                    <div class="col-md-7 col-xs-12 col-lg-7">
                        <div class="texto-items">
                            <span class="titulo-item-card">FASE COMITÉ</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <a class="card-item" href="FaseAcompanamiento">
                    <div class="col-md-5 col-xs-12 col-lg-5" style="padding-left:0">
                        <img src="~/Imagen/fase3.jpg" class="img-items" alt="">
                    </div>
                    <div class="col-md-7 col-xs-12 col-lg-7">
                        <div class="texto-items">
                            <span class="titulo-item-card">FASE ACOMPAÑAMIENTO</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>