﻿
@{
    ViewBag.Title = "Fase Formativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sceys/about.css" rel="stylesheet" />

<div class="header-items-me">
    <a class="glyphicon glyphicon-chevron-left icono-volver" href="../"></a>
    <div class="sobre-header-items-me">
        <span>Fase Formativa</span>
    </div>
</div>

<div class="contenedor-contenido-items-me">
    <div class="contendor-logo-items-me">
        <img src="~/Imagen/300x300.png" alt="">
    </div>
    <p class="descripcion-items-cad">Las medidas formativas son aquellas acciones que se aplican al Aprendiz Sena cuando se trate de hechos que contraríen en menor grado el orden académico o disciplinario, sin afectar los deberes, derechos y prohibiciones, o que se adopta con el fin de prevenir su ocurrencia, o con el fin de generar cambios en el desempeño académico o en el comportamiento disciplinario del Aprendiz.</p>
</div>

