﻿
@{
    ViewBag.Title = "Fase Acompañamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sceys/about.css" rel="stylesheet" />

<div class="header-items-me __acompanamiento">
    <a class="glyphicon glyphicon-chevron-left icono-volver" href="../"></a>
    <div class="sobre-header-items-me">
        <span>Fase Acompañamiento</span>
    </div>
</div>

<div class="contenedor-contenido-items-me">
    <div class="contendor-logo-items-me">
        <img src="~/Imagen/300x300.png" alt="">
    </div>
    <p class="descripcion-items-cad">El Subdirector de Centro debe tener en cuenta cada una de las motivaciones y fundamentos de la recomendación que el Comité exprese. Una vez tenga la suficiente ilustración respecto a los hechos motivo de investigación, procederá a expedir el acto académico correspondiente, el cual deberá ser motivado en todos los casos..</p>
</div>

