﻿
@{
    ViewBag.Title = "Fase Comité";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sceys/about.css" rel="stylesheet" />

<div class="header-items-me __comite">
    <a class="glyphicon glyphicon-chevron-left icono-volver" href="../"></a>
    <div class="sobre-header-items-me">
        <span>Fase Comité</span>
    </div>
</div>

<div class="contenedor-contenido-items-me">
    <div class="contendor-logo-items-me">
        <img src="~/Imagen/300x300.png" alt="">
    </div>
    <p class="descripcion-items-cad">En cada Centro de Formación Profesional del SENA funcionará un Comité de Evaluación y Seguimiento, como instancia competente para investigar y analizar casos tanto académicos como disciplinarios de los Aprendices de todos los tipos y modalidades de formación, y cuyas recomendaciones deben ser entregadas al Subdirector del Centro para su decisión..</p>

</div>

