﻿<!DOCTYPE html>
<html>
<head>
    <!---Title-->
    <title>@ViewBag.Title - SCEYS </title>

    <!---Meta-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---Styles-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/themes/base/autocomplete.css" rel="stylesheet" />
    <link href="~/Content/sceys/sceys.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("About", "Home")" title="SCEYS" area="">
                        <img alt="SCEYS" src="@Url.Content("~/Imagen/120x60.png")" class="img-responsive" style="width: 100px">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*@if (User.IsInRole("Instructores"))
                        {*@
                            <li>@Html.ActionLink("Aprendices", "Index", "Personas")</li>
                            <li>@Html.ActionLink("Quejas", "Index", "Expedientes")</li>
                        @*}
                        else
                        {*@
                            <li>@Html.ActionLink("Personas", "Index", "Personas")</li>
                            <li>@Html.ActionLink("Expedientes", "Index", "Expedientes")</li>
                        @*}*@                       
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }    
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p><center>&copy; @DateTime.Now.Year - Fábrica de Software</center></p>
        </footer>
    </div>    
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
