﻿@model Sceys.Models.modelsView.ExpedienteAdjuntarDocumentacionView
@{
    ViewBag.Title = "Adjuntar Documentacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Styles-->
<link href="~/Content/sceys/main.css" rel="stylesheet" />
<link href="~/Content/sceys/dataTable.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Expedientes
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-plus"></i> Quejas
                </li>
            </ol>
        </div>
    </div>
</div>

<!--Nuevo Expediente-->
<div class="panel panel-primary">
    <div class="panel-heading">Documentación Queja</div>
    <div class="panel-body">
        @using (Html.BeginForm("registrarQuejaInstructor", "Expedientes", FormMethod.Post, new { id = "frm-registrarQueja", name = "frm-adjuntarDocumentacion", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <!--Adjuntar archivos-->
            <div class="panel panel-info">
                <div class="panel-heading">Adjuntar Archivos</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Expediente #</label>
                            @Html.EditorFor(model => model.ExpedienteId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                         </div>
                        <div class="col-lg-4">
                            <label>Fecha de Creación</label>
                            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-4">
                            <label>Estado</label>
                            @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-4">
                            <label>Documento del aprendiz</label>
                            @Html.EditorFor(model => model.documentoAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-4">
                            <label>Nombre del aprendiz</label>
                            @Html.EditorFor(model => model.nombreAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-4">
                            <label>Correo</label>
                            @Html.EditorFor(model => model.correoAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <label>Descripción</label>
                            <textarea id="comentarioDocumentoAdjunto" name="comentarioDocumentoAdjunto" class="form-control comentarioDocumentoAdjunto" rows="2" placeholder="Describa y justifique por qué adjunta el documento a la queja"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="file" id="archivo" name="archivo" class="search-query form-control archivo" placeholder="Buscar Expediente" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="submit">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!--Archivos Adjuntos-->
        <div class="panel panel-info">
            <div class="panel-heading">Archivos adjuntos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 pull-left table-responsive">
                        <table id="tblIndex" name="tblIndex" class="table table-hover tblIndex">
                            <thead>
                                <tr class="">
                                    <th></th>
                                    <th>Archivo adjunto</th>
                                    <th>Descripcion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Scrips-->
<script src="~/Scripts/sceys/dataTable.js"></script>
<script src="~/Scripts/sceys/ExpedientesController.js"></script>
<script src="~/Scripts/sceys/Manager.js"></script>
