﻿@model Sceys.Models.ExpedienteView
@{
    ViewBag.Title = "Nuevo Expediente";
}
<link href="~/Content/sceys/main.css" rel="stylesheet" />
<link href="~/Content/sceys/ExpedienteCreate.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Expedientes
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-plus"></i> Nuevo Expediente
                </li>
            </ol>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //Nuevo Expediente
    <div class="panel panel-primary">
        <div class="panel-heading">Nuevo Expediente</div>
        <div class="panel-body">

            <!--Información General del expediente-->
            <div class="panel panel-info">
                <div class="panel-heading">Información General</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Tipo de Falta</label>
                            @Html.DropDownList("Nombre", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                            <label id="error-select"></label>
                        </div>
                        <div class="col-lg-4">
                            <label>Calificación de la falta</label>
                            @Html.DropDownList("Descripcion", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                            @*<label>Reunión del Comité (Fecha tentativa)</label>
                            <input type="datetime" value="2016/06/25 12:45" class="form-control" />*@
                        </div>
                    </div>
                    <!--Lista de Informantes-->
                    <div class="row">
                        <br />
                        <div class="col-md-4">
                            <label>¿Quién recibe la documentación?</label>
                            @Html.EditorFor(model => model.documentoReceptor, new { htmlAttributes = new { @class = "form-control" } })
                            @*<input type="text" class="form-control" name="receptor" id="receptor" placeholder="Ingrese documento de identidad">*@
                        </div>

                        <div class="col-md-4">
                            <label>Informante</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="Documento" id="docInformante" placeholder="Ingrese documento de identidad">
                                <span class="input-group-addon preview-add-button addInformante"><span class="glyphicon glyphicon-plus"></span></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label>Aprendiz</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="Documento" id="aprendiz" placeholder="Ingrese documento de identidad">
                                <span class="input-group-addon preview-add-button addAprendiz"><span class="glyphicon glyphicon-plus"></span></span>
                            </div>
                        </div>

                        <!-- FORMATOS DEL COMITÉ
                        <div class="col-md-4">
                            <label>Formato</label>
                            <select class="form-control" name="date">
                                <option>Seleccione Uno... </option>
                                <option>Cancelación por falta</option>
                                <option>De Aviso</option>
                                <option>Expulsión</option>
                            </select>
                        </div>
                        -->
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-table table-responsive">
                            <br />
                            <table id="implicados" class="table table-striped preview-table  header-fixed">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Documento</th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Quitar</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row dDescripcion">
                        <br />
                        <div class="col-md-12 dDescripcion1">
                            <label>Descripción</label>
                            <textarea name="descripcion" id="descripcion" class="form-control descripcion" rows="5" placeholder="Describa brevemente  el motivo por el cual se lleva al aprendiz al comité."></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!--Información Reglamento del aprendiz-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    Información de las faltas
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Capitulos</label>
                            @Html.DropDownList("Capitulo", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label>Artículos</label>
                            <select name="articulos" id="articulos" class="form-control articulos">
                                <option>Seleccione Uno...</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <br />
                        <div class="col-md-6">
                            <label>Numeral</label>
                            <select id="numeral" name="numeral" class="form-control numeral">
                                <option>Numeral 1</option>
                                <option>Numeral 2</option>
                                <option>Numeral 3</option>
                                <option>Numeral 4</option>
                                <option>Numeral 5</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Sub Numeral</label>
                            <select class="form-control tipoDocumento">

                                <option>Sub Numeral 2</option>
                                <option>Sub Numeral 3</option>
                                <option>Sub Numeral 4</option>
                                <option>Sub Numeral 5</option>
                            </select>
                        </div>
                    </div>

                    <!--Descripcion detallada de los hechos-->
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 ">
                            <label>Descripción detallada de los hechos</label>
                            <textarea id="normas" name="normas" class="form-control normas" rows="5" placeholder="Normatividad: Reglamento del aprendiz"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!--Documentación del expediente-->


            @*<div class="panel panel-info">
                <div class="panel-heading">Documentación</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tipo Documentación</label>
                            <select class="form-control tipoDocumento">
                                <option>Prueba</option>
                                <option>Testigos</option>
                            </select>
                            <input type="text" name="suministra" id="suministra" class="form-control" placeholder="Documento" />
                        </div>
                        <div class="col-md-4">
                            <label>¿Quién aporta los documentos?</label>
                            <input type="text" name="suministra" id="suministra" class="form-control" placeholder="Ingrese número de identificación" />
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>

                    <!-- Inicio adjuntar documentos-->
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <div class="input-group image-preview">
                                <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                                <!-- don't give a name === doesn't send on POST/GET -->
                                <span class="input-group-btn">
                                    <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Seleccionar</span>
                                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                                        <!-- rename it -->
                                    </div>
                                    <button type="button" class="btn btn-labeled btn-default"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Subir</button>
                                </span>
                            </div>
                            <!-- /input-group image-preview [TO HERE]-->
                            <br />
                            <!-- Drop Zone -->
                            <div class="upload-drop-zone" id="drop-zone">Suelta los archivos aquí para subirlos de inmediato</div>
                            <br />
                            <!-- Progress Bar -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> <span class="sr-only">60% Complete</span> </div>
                            </div>
                            <br />

                            <!-- Archivos adjuntos -->
                            <div class="js-upload-finished">
                                <h4>Archivos adjuntos</h4>
                                <table class="table table-hover table-responsive">
                                    <thead class="tableAdjuntos">
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Nombre</th>
                                            <th>Aportante</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="info">
                                            <td>Prueba</td>
                                            <td>Archivo de documentacion 1 con variable 1</td>
                                            <td>Juan Sebastian Bach</td>
                                            <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                            <td><span class="glyphicon glyphicon-remove icon-success"></span></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Prueba</td>
                                            <td>Archivo de documentacion 1 con variable 1</td>
                                            <td>Juan Sebastian Bach</td>
                                            <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                            <td><span class="glyphicon glyphicon-remove icon-success"></span></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Prueba</td>
                                            <td>Archivo de documentacion 1 con variable 1</td>
                                            <td>Juan Sebastian Bach</td>
                                            <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                            <td><span class="glyphicon glyphicon-remove icon-success"></span></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Prueba</td>
                                            <td>Archivo de documentacion 1 con variable 1</td>
                                            <td>Juan Sebastian Bach</td>
                                            <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                            <td><span class="glyphicon glyphicon-remove icon-success"></span></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Prueba</td>
                                            <td>Archivo de documentacion 1 con variable 1</td>
                                            <td>Juan Sebastian Bach</td>
                                            <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                            <td><span class="glyphicon glyphicon-remove icon-success"></span></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Prueba</td>
                                            <td>Archivo de documentacion 1 con variable 1</td>
                                            <td>Juan Sebastian Bach</td>
                                            <td><span class="glyphicon glyphicon-eye-open"></span></td>
                                            <td><span class="glyphicon glyphicon-remove icon-success"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Fin adjuntar documentos-->
                </div>
            </div>*@
        </div>
        <div class="panel-footer">
            <!--Guardar información en base de datos-->
            <div class="row">
                <div class="col-md-12 btn-group">
                    <center>
                        <button type="button" id="registrar" class="btn btn-primary">Registrar</button>
                        <button type="button" id="pdf" name="pdf" class="btn btn-info">Vista Previa</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
}

<!--Searchs-->
<script src="~/Scripts/sceys/ExpedienteManagerController.js"></script>

<!--Make PDFs-->
<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/sceys/PdfManager.js"></script>
