﻿@model Sceys.Models.Expediente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aprendiz.Ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprendiz.Ficha)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Informante.Descripcion)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Informante.Descripcion)*@
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.RecepcionDocumento.RecepcionDocumentoId)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.RecepcionDocumento.RecepcionDocumentoId)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
