﻿@model Sceys.Models.modelsView.ExpedienteDetailsView

@{
    ViewBag.Title = "Detalles";
}

<link href="~/Content/sceys/main.css" rel="stylesheet" />

<br />
<!--Mapa de navegación-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Expedientes
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-list-alt"></i> Detalles
                </li>
            </ol>
        </div>
    </div>
</div>

<!--Detalles de los Expedientes-->
<!--Nuevo Expediente-->
<div class="panel panel-primary">
    <div class="panel-heading">Detalles del Expediente</div>
    <div class="panel-body">

        <!--Información General del expediente-->
        <div class="panel panel-info">
            <div class="panel-heading">Información General</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Documento del aprendiz</label>
                        @Html.EditorFor(model => model.documentoAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-lg-4">
                        <label>Nombre del aprendiz</label>
                        @Html.EditorFor(model => model.nombreAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-lg-4">
                        <label>Correo</label>
                        @Html.EditorFor(model => model.correoAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-md-4">
                        <label>Ficha</label>
                        @Html.EditorFor(model => model.fichaAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-lg-4">
                        <label>Programa de Formación</label>
                        @Html.EditorFor(model => model.programaAprendiz, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-lg-4">
                        <label>Fecha registro de queja</label>
                        @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-lg-4">
                        <label>Tipo de Falta</label>
                        @Html.EditorFor(model => model.tipoFalta, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-lg-4">
                        <label>Calificación de la falta</label>
                        @Html.EditorFor(model => model.calificacionFalta, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <div class="row dDescripcion">
                    <br />
                    <div class="col-md-12 dDescripcion1">
                        <label>Descripción</label>
                        @Html.TextAreaFor(model => model.descripcionQueja, new { @rows = "10", @class = "form-control descripcion", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <!--Guardar información en base de datos-->
        <div class="row">
            <div class="col-md-12 btn-group">
                <center>
                    <button type="button" id="pdf" name="pdf" class="btn btn-info">Queja en PDF</button>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="pull-left">
    <ul class="pager">
        <li>@Html.ActionLink("Editar", "Edit", new { id = Model.ExpedienteId })</li>
        <li>@Html.ActionLink("Volver", "Index")</li>
    </ul>
</div>

<!--Scripts-->
<!--Searchs-->
<script src="~/Scripts/sceys/ExpedienteManagerController.js"></script>

<!--Make PDFs-->
<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/sceys/PdfManagerController.js"></script>
