﻿@model Sceys.Models.modelsView.ExpedienteRegistraQuejaXInstructorView

@{
    ViewBag.Title = "Nueva Queja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Styles-->
<link href="~/Content/sceys/main.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Expedientes
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-plus"></i> Quejas
                </li>
            </ol>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //Nuevo Expediente
    <div class="panel panel-primary">
        <div class="panel-heading">Nueva Queja</div>
        <div class="panel-body">

            <!--Información general de la falta-->
            <div class="panel panel-info">
                <div class="panel-heading">Información General</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Documento del aprendiz</label>
                            <div class="input-group">
                                <input type="text" id="documentoAprendiz" name="documentoAprendiz" class="form-control documentoAprendiz">
                                <span class="input-group-addon preview-add-button agregarAprendiz"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Nombre del aprendiz</label>
                            <input type="text" id="nombreAprendiz" name="nombreAprendiz" class="form-control nombreAprendiz" readonly>
                        </div>
                        <div class="col-lg-4">
                            <label>Correo</label>
                            <input type="text" id="correoAprendiz" name="correoAprendiz" class="form-control correoAprendiz" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-4">
                            <label>Ficha</label>
                            <div class="input-group">
                                <input type="text" id="fichaAprendiz" name="fichaAprendiz" class="form-control fichaAprendiz" placeholder="Número de Ficha">
                                <span class="input-group-addon preview-add-button addAprendiz"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Programa de Formación</label>
                            <input type="text" id="programaAprendiz" name="programaAprendiz" class="form-control programaAprendiz" readonly>
                        </div>
                        <div class="col-lg-4">
                            <label>Fecha registro de queja</label>
                            <input type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" name="Documento" id="aprendiz" placeholder="Ingrese documento de identidad" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-lg-4">
                            <label>Tipo de Falta</label>
                            @Html.DropDownList("Nombre", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                            <label>Calificación de la falta</label>
                            @Html.DropDownList("Descripcion", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="row dDescripcion">
                        <br />
                        <div class="col-md-12 dDescripcion1">
                            <label>Descripción</label>
                            <textarea id="descripcionQueja" name="descripcionQueja"class="form-control descripcionQueja" rows="10" placeholder="Consideré ingresar, de ser necesario, la siguiente información: Competencias o resultados de aprendizaje. Y Descripción detallada de los hechos que constitiyen la falta."></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!--Información detallada de la falta
            <div class="panel panel-info">
                <div class="panel-heading">Información Detallada</div>
                <div class="panel-body">
                    <!--Reglamento del aprendiz
            </div>
            -->
        </div>
    <div class="panel-footer">
            <!--Guardar información en base de datos-->
            <div class="row">
                <div class="col-md-12">
                    <center><button type="button" id="registrarQueja" name="registrarQueja" class="btn btn-primary registrarQueja">Registrar</button></center>
                </div>
            </div>
        </div>
    </div>
}

<!-- Scripts -->
<script src="~/Scripts/sceys/ExpedientesManagerController.js"></script>  
<script src="~/Scripts/sceys/ExpedientesController.js"></script>

<!--Make PDFs-->
<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/sceys/PdfManagerController.js"></script>
