﻿@model Sceys.Models.Persona

@{
    ViewBag.Title = "Inhabilitar Persona";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Esta seguro que desea inhabilitar esta persona en el sistema?</h3>
    <div>
        <h4>Persona</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TipoDocumento.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoDocumento.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoPersona.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoPersona.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Documento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Correo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Correo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "Index")
            </div>
        }
    </div>
</body>
</html>
