﻿@model Sceys.Models.PersonaViewEdit

@{
    ViewBag.Title = "Modificar Persona";
}

<!--Mapa de navegación-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Personas
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-pencil"></i> Editar Persona
                </li>
            </ol>
        </div>
    </div>
</div>

<!--Modificar personas-->
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Modificar Persona!.</div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PersonaId)
                    @Html.HiddenFor(model => model.AprendizId)
                    <div class="col-md-9">

                        <div class="panel panel-info">
                            <div class="panel-heading">Documento de Identidad</div>
                            <div class="panel-body">

                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.TipoDocumentoId, "Tipo Documento *")
                                    </a>
                                    @Html.DropDownList("TipoDocumentoId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Documento, "Número del Documento *")
                                    </a>
                                    @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <img src="~/Imagen/300x150.png" class="img-responsive" />
                    </div>

                    <div class="col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading">Nombre Completo</div>
                            <div class="panel-body">

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.PrimerNombre) *
                                    </a>
                                    @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.SegundoNombre)
                                    @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.PrimerApellido) *
                                    </a>
                                    @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.SegundoApellido)
                                    @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading">Información de Contacto</div>
                            <div class="panel-body">

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Correo) *
                                    </a>
                                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Direccion) *
                                    </a>
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.Celular)
                                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.Telefono)
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading">Otra Información</div>
                            <div class="panel-body">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                            @Html.LabelFor(model => model.TipoPersonaId, "Tipo Persona *")
                                        </a>
                                        @Html.DropDownList("TipoPersonaId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TipoPersonaId, "", new { @class = "text-danger" })

                                    </div>

                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id='Aprendiz' style='display:none;'>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Aprendiz</div>
                                        <div class="panel-body">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.Ficha) *
                                                    </a>
                                                    @Html.EditorFor(model => model.Ficha, new { htmlAttributes = new { id = "Ficha", Value = (Model.Ficha == null ? "0000" : Model.Ficha), @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Ficha, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.RegionalId, "Regional") *
                                                    </a>
                                                    @Html.DropDownList("RegionalId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.RegionalId, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.CentroId, "Centro") *
                                                    </a>
                                                    @Html.DropDownList("CentroId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CentroId, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">

                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.ProgramaId, "Programa") *
                                                    </a>
                                                    @Html.DropDownList("ProgramaId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProgramaId, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.TipoProgramaId, "Tipo del Programa") *
                                                    </a>
                                                    @Html.DropDownList("TipoProgramaId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.TipoProgramaId, "", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-5 col-md-2">
                            <input type="submit" value="Modificar" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="pull-left">
    <ul class="pager">
        <li>@Html.ActionLink("Volver", "Index")</li>
    </ul>
</div>

<!--Errors page editor-->
@if (@ViewBag.Error1 != null || @ViewBag.Error2 != null ||
                             @ViewBag.Error3 != null || @ViewBag.Error4 != null ||
                             @ViewBag.Error5 != null || @ViewBag.Error6 != null ||
                             @ViewBag.Error7 != null || @ViewBag.Error8 != null)
{
    <script>
        $(document).ready(function () {
            var alerta = "";

            if (@ViewBag.Error1 != "0") {
                alerta += "- El campo Tipo Documento no puede ser ¿Otro?. \n "
            }

            if (@ViewBag.Error2 != "0") {
                alerta += "- El campo Tipo Persona no puede ser ¿Otro?. \n "
            }

            if (@ViewBag.Error3 != "0") {
                alerta += "- Debes ingresar un número de contacto. \n "
            }

            if (@ViewBag.Error4 != "0") {
                alerta += "- El campo Centro es obligatorio. \n "
            }

            if (@ViewBag.Error5 != "0") {
                alerta += "- El campo Programa es obligatorio. \n "
            }

            if (@ViewBag.Error6 != "0") {
                alerta += "- El campo Tipo de Programa es obligatorio. \n "
            }

            if (@ViewBag.Error7 != "0") {
                alerta += "- Este correo ya ha sido registrado. \n "
            }

            if (@ViewBag.Error8 != "0") {
                alerta += "- Este número de documento ya está registrado. \n "
            }
            swal("Error", "" + alerta, "error");

        });
    </script>
}

<script>

    $(document).ready(function () {

        var TipoPersona = $('#TipoPersonaId option:selected').text();
        if (TipoPersona == "Aprendiz") {
            document.getElementById("Aprendiz").style.display = "block";
        }
        else {
            $('#Ficha').val("0000");
            setSelectedIndex(document.getElementById('RegionalId'),"Antioquia");
            setSelectedIndex(document.getElementById('CentroId'),"CENTRO DE SERVICIOS Y GESTION EMPRESARIAL");
            setSelectedIndex(document.getElementById('ProgramaId'),"ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACION");
            setSelectedIndex(document.getElementById('TipoProgramaId'),"Presencial");

        }
    });

    function setSelectedIndex(s, v) {
        for ( var i = 0; i < s.options.length; i++ ) {
            if ( s.options[i].text == v ) {
                s.options[i].selected = true;
                return;
            }
        }
    }

    @*$('#RegionalId').change(function () {
        RegionalId = { id: $('#RegionalId').val() };
        var actionUrl = '@Url.Action("ListarCentros", "Personas")';
        $.getJSON(actionUrl, RegionalId, function (data) {
            $('#CentroId').html(" ");
            $("#CentroId").append($("<option></option>").text("Seleccione Uno...").val(0));
            for (var i = 0; i < data.length; i++) {
                var ListaCentro = data[i];
                $("#CentroId").append($("<option></option>").text(ListaCentro.Nombre).val(ListaCentro.CentroId));
            }
        });
    });*@

    $("#TipoPersonaId").change(function () {
        var TipoPersona = $('#TipoPersonaId option:selected').text();
        if (TipoPersona == "Aprendiz") {
            document.getElementById("Aprendiz").style.display = "block";
            $("Aprendiz").css({
                "display": "block"
            });
            $('#Ficha').val("@Model.Ficha");
            $('#RegionalId').val("@Model.RegionalId");
            $('#ProgramaId').val("@Model.ProgramaId");
            $('#CentroId').val("@Model.CentroId");
            $('#TipoProgramaId').val("@Model.TipoProgramaId");

        }
        else {
            document.getElementById("Aprendiz").style.display = "none";
            $('#Ficha').val("0000");
        }

    });

    //$("#TipoDocumentoId").change(function () {
    //    var TipoDocumento = $('#TipoDocumentoId option:selected').text();
    //    if (TipoDocumento == "¿Otro?") {
    //        document.getElementById("OtroTD").style.display = "block";
    //    }
    //    else {
    //        document.getElementById("OtroTD").style.display = "none";
    //    }

    //});

    //$("#TipoPersonaId").change(function () {
    //    var TipoDocumento = $('#TipoPersonaId option:selected').text();
    //    if (TipoDocumento == "¿Otro?") {
    //        document.getElementById("OtroTP").style.display = "block";
    //    }
    //    else {
    //        document.getElementById("OtroTP").style.display = "none";
    //    }

    //});


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>