﻿@model Sceys.Models.PersonaView
@{
    ViewBag.Title = "registrarAprendiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sceys/main.css" rel="stylesheet" />

<!--Mapa de navegación-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Personas
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-plus"></i> Nuevo Aprendiz
                </li>
            </ol>
        </div>
    </div>
</div>

<!--Nueva Persona-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">Nuevo Aprendiz</div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-info">
                <div class="panel-heading">Informacion General</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Persona.TipoDocumentoId, "Tipo Documento *")
                            </a>
                            @Html.DropDownList("TipoDocumentoId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Persona.TipoDocumentoId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Persona.Documento, "Número del Documento *")
                            </a>
                            @Html.EditorFor(model => model.Persona.Documento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Documento, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Persona.PrimerNombre) *
                            </a>
                            @Html.EditorFor(model => model.Persona.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.PrimerNombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            @Html.LabelFor(model => model.Persona.SegundoNombre)
                            @Html.EditorFor(model => model.Persona.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.SegundoNombre, "", new { @class = "text-danger" })

                        </div>

                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Persona.PrimerApellido) *
                            </a>
                            @Html.EditorFor(model => model.Persona.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.PrimerApellido, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            @Html.LabelFor(model => model.Persona.SegundoApellido)
                            @Html.EditorFor(model => model.Persona.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.SegundoApellido, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <br />
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Persona.Correo) *
                            </a>
                            @Html.EditorFor(model => model.Persona.Correo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Correo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Persona.Direccion) *
                            </a>
                            @Html.EditorFor(model => model.Persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Direccion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            @Html.LabelFor(model => model.Persona.Celular)
                            @Html.EditorFor(model => model.Persona.Celular, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Celular, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            @Html.LabelFor(model => model.Persona.Telefono)
                            @Html.EditorFor(model => model.Persona.Telefono, new { htmlAttributes = new { @class = "form-control" } })                                @Html.ValidationMessageFor(model => model.Persona.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Información Programa de Formación</div>
                <div class="panel-body">
                    <div class="row">
                        <br />
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Aprendiz.Ficha) *
                            </a>
                            <input type="text" id="ficha" name="ficha" class="form-control ficha" placeholder="Ingrese documento de identidad">
                            @Html.ValidationMessageFor(model => model.Aprendiz.Ficha, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Regional.RegionalId, "Regional") *
                            </a>
                            @Html.DropDownList("RegionalId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Regional.RegionalId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Centro.CentroId, "Centro") *
                            </a>
                            <select id="CentroId" name="CentroId" class="form-control CentroId">
                                <option>Seleccione Uno...</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Centro.CentroId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.Programa.ProgramaId, "Programa") *
                            </a>
                            <select id="ProgramaId" name="ProgramaId" class="form-control ProgramaId">
                                <option>Seleccione Uno...</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Programa.ProgramaId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                @Html.LabelFor(model => model.TipoPrograma.TipoProgramaId, "Tipo del Programa") *
                            </a>
                            <select id="TipoProgramaId" name="TipoProgramaId" class="form-control TipoProgramaId">
                                <option>Seleccione Uno...</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TipoPrograma.TipoProgramaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Guardar información en base de datos-->
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 btn-group">
                    <center>
                        <button type="button" id="registrarAprendiz" name="registrarAprendiz" class="btn btn-primary registrarAprendiz">Registrar</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
}
<!--Regresar al Index-->
<div class="pull-left">
    <ul class="pager">
        <li>@Html.ActionLink("Volver", "Index")</li>
    </ul>
</div>

<!--Scripts-->
<script src="~/Scripts/sceys/PersonasManagerController.js"></script>
